/* VARIABLES */
:root{
    --white-color: #ffffff;
    --black-color: #020202;
    --gray-color-500: #00000020;
    --gray-color-800: #242424;
    --gray-color-900: #0F0F0F;
    --primary-color-400: #1dd83c80;
    --primary-color-500: #1DD83C;
    --primary-color-600: #159D20;
    --secondary-color-100: #FEECE7;
    --secondary-color-400: #fe553380;
    --secondary-color-500: #FE5433;
    --inter-font: "Inter", sans-serif;
    --opensans-font: "Open Sans", sans-serif
}

/* CSS RESET */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  body, html{
    border: 0;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: var(--inter-font);
    overflow-x: hidden;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }