@import url(./global.css);
@import url(./keyframes.css);

/* NAVBAR */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 2rem .5rem;
    z-index: 3;
    transition: background-color 0.3s ease;
}

.navbar.scrolled {
    background-color: var(--white-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra leve */
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1180px;
    margin: 0 auto;
}

.logo img {
    width: 120px;
    height: auto;
}

.nav-links {
    display: flex;
    gap: 2rem;
}

.nav-links a {
    position: relative;
    text-decoration: none;
    font-size: 1rem;
    font-family: var(--inter-font);
    font-weight: 400;
    color: var(--black-color);
    padding-bottom: 0.25rem;
    transition: color 0.3s ease;
}

.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--primary-color-500);
    transition: width 0.3s ease;
}

.nav-links a:hover::after {
    width: 100%;
}


/* HERO SECTION */
.hero-section {
    color: var(--white-color);
    margin-top: 4rem;
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section::before {
    content: '';
    padding: 200px;
    position: absolute;
    right: -300px;
    z-index: 0;
    top: -300px;
    background: var(--primary-color-400);
    filter: blur(200px);
}

.hero-section::after {
    content: '';
    padding: 200px;
    position: absolute;
    left: -300px;
    z-index: -1;
    bottom: -250px;
    background: var(--secondary-color-400);
    filter: blur(200px);
    overflow: hidden;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    max-width: 1180px;
    width: 100%;
    position: relative;
}

.hero-image-wrapper {
    position: relative;
}

.hero-image {
    max-width: 450px;
    height: auto;
    position: relative;
}

.plus-icon {
    position: absolute;
    width: 30px;
    height: 80px;
    border-radius: 10px;
    display: inline-block;
    animation: float__plus_icon 10s ease-in-out infinite;
}

.plus-icon::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 30px;
    background-color: var(--white-color);
    -webkit-box-shadow: 0px 2px 5px 0px var(--gray-color-500);
    -moz-box-shadow: 0px 2px 5px 0px var(--gray-color-500);
    box-shadow: 0px 2px 5px 0px var(--gray-color-500);
    border-radius: 10px;
    z-index: 1;
}

.plus-icon.-primary{
    background: var(--primary-color-500);
}

.plus-icon.-secondary{
    background-color: var(--secondary-color-500);
}

.plus-icon.-secondary::before{
    background-color: var(--secondary-color-100);
}

.plus-icon.-secondary.-xxl{
    width: 150px;
    height: 400px;
    border-radius: 20px;
}

.plus-icon.-secondary.-xxl::before{
    height: 150px;
    width: 400px;
    border-radius: 20px;
}

.plus-icon.-secondary.-sm{
    height: 40px;
    width: 15px;
    border-radius: 4px;
}

.plus-icon.-secondary.-sm::before{
    height: 15px;
    width: 40px;
    border-radius: 4px;
}

.hero-image-wrapper .plus-icon:nth-of-type(1){
    top: 0;
    right: 0;
}

.hero-image-wrapper .plus-icon:nth-of-type(2){
    bottom: 0;
}

.hero-text {
    max-width: 320px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hero-text h1 {
    font-size: 2.5rem;
    font-weight: 700;
    font-family: var(--inter-font);
    color: var(--gray-color-900);
    line-height: 35px;
}

.hero-text h1 span {
    color: var(--primary-color-500);
    font-weight: 800;
}

.hero-text p {
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--opensans-font);
    color: var(--gray-color-900);
}

.cta-button {
    width: fit-content;
    margin-top: 1rem;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--white-color);
    background-color: var(--primary-color-500);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: var(--primary-color-600);
}


/* ABOUT SECTION */
.about-section {
    display: flex;
    justify-content: center;
    padding: 3rem 0 0 0;
    margin-bottom: -110px;
    color: var(--white-color);
}

.about-container {
    max-width: 800px;
    width: 100%;
    background-color: var(--primary-color-500);
    display: flex;
    align-items: center;
    color: var(--black-color);
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 20px 0px var(--gray-color-500);
    -moz-box-shadow: 0px 0px 20px 0px var(--gray-color-500);
    box-shadow: 0px 0px 20px 0px var(--gray-color-500);
}

.about-box {
    padding: 4rem;
}

.about-box h2 {
    font-size: 3.2rem;
    text-align: left;
    font-weight: bold;
    color: var(--white-color);
    margin-bottom: 0.5rem;
    line-height: 3rem;
}

.about-text {
    display: flex;
    flex-direction: column;
    background: var(--white-color);
    height: 100%;
    border-radius: 0 8px 8px 0;
    padding: 2rem;
}

.about-text span {
    font-size: 1.2rem;
    font-weight: 600;
}

.about-text p {
    font-family: var(--opensans-font);
    font-size: 1rem;
    font-weight: 400;
    color: var(--gray-color-900);
}


/* SERVICES SECTION */
.services-container {
    padding: 12rem 0 12rem;
    background-color: var(--gray-color-900);
    color: var(--white-color);
    text-align: center;
    border-radius: 50px 50px 0 0;
}

.services-heading {
    max-width: 800px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 3rem;
    margin: auto;
    color: var(--black-color);
    border-radius: 8px;
}

.services-box {
    padding: 0rem;
}

.services-box h2 {
    font-size: 3.2rem;
    text-align: left;
    font-weight: bold;
    color: var(--primary-color-500);
    margin-bottom: 0.5rem;
    line-height: 3rem;
}

.services-text {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 0 8px 8px 0;
    padding: 2rem;
}

.services-text span {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: start;
    color: var(--white-color);
}

.services-text p {
    text-align: start;
    font-family: var(--opensans-font);
    font-size: 1rem;
    font-weight: 400;
    color: var(--white-color);
}


.service-cards {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: -8rem;
    padding-bottom: 100px;
    position: relative;
}

.service-card {
    background-color: var(--gray-color-800);
    max-width: 200px;
    border-radius: 4px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.service-card:nth-of-type(2){
    transform: translateY(30px);
}

.service-card img {
    width: 100%;
    margin: auto;
    border-radius: 8px 8px 0 0;
}

.service-card h4 {
    padding: 0 .5rem;
    font-size: 1.15rem;
    margin-top: 0.5rem;
    font-weight: 600;
    color: var(--white-color);
}

.service-card p {
    padding: 0 .5rem 1rem;
    font-size: 0.85rem;
    margin-top: 0.5rem;
    color: var(--white-color);
}


/* PROJETO */

.project-section {
    width: 100%;
    max-width: 1180px;
    margin: auto;
    padding: 1rem 1rem 8rem;
    position: relative;
}

.project-section .plus-icon.-xxl{
    left: -200px;
}

.project-section .plus-icon.-sm{
    right: 50px;
    bottom: 100px;
}

.project-section::after {
    content: '';
    padding: 200px;
    position: absolute;
    right: -100px;
    top: -500px;
    z-index: -1;
    background: var(--secondary-color-400);
    filter: blur(150px);
    overflow: hidden;
}

.project-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 2rem 0 2rem;
}

.project-text-wrapper{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.project-text {
    max-width: 380px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.project-text h1 {
    font-size: 3.5rem;
    font-weight: 700;
    font-family: var(--inter-font);
    color: var(--gray-color-900);
    line-height: 45px;
}

.project-text h1 span {
    color: var(--secondary-color-500);
    font-weight: 800;
}

.project-text p {
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--opensans-font);
    color: var(--gray-color-900);
}

.project-images{
    max-width: 500px;
}

/* TEAM */

.team-section{
    width: 100%;
}

.team-section-header{
    width: 100%;
    background: var(--gray-color-900);
    padding: 60px 0 0 0;
    border-radius: 50% 50% 0 0;
    position: relative;
}

.team-section-header::before{
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(-45deg, var(--primary-color-500) 0%, var(--primary-color-500) 100%);
    transform: translate3d(0px, -5px, 0);
    filter: blur(40px);
    border-radius: inherit;
}

.team-section-header h1{
    font-size: 3rem;
    font-weight: 700;
    font-family: var(--inter-font);
    color: var(--white-color);
    line-height: 45px;
    text-align: center;
}

.team-section-header p{
    font-size: 1rem;
    font-weight: 300;
    font-family: var(--opensans-font);
    color: var(--white-color);
    line-height: 45px;
    text-align: center;
}

.team-members{
    padding: 3rem 0;
    background: var(--gray-color-900);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.team-member{
    display: flex;
    gap: 1rem;
    margin: auto;
    max-width: 1080px;
    justify-content: center;
    align-items: center;
}

.team-card{
    background: var(--white-color);
    color: var(--black-color);
    width: 300px;
    max-width: 400px;
    display: flex;
    padding: 10px 20px;
    border-radius: 10px;
    gap: 16px;
    align-items: center;
}

.team-member:nth-of-type(2) .team-card, .team-member:nth-of-type(4) .team-card{
    flex-direction: row-reverse;
}

.team-member:nth-of-type(2) .team-card .team-socials, .team-member:nth-of-type(4) .team-card .team-socials{
    flex-direction: row-reverse;
}

.team-member:nth-of-type(2) .team-card p, .team-member:nth-of-type(4) .team-card p{
    text-align: end;
}


.team-card-wrapper{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}


.team-socials{
    display: flex;
    gap: 1.2rem;
}

.team-socials img{
    width: 20px;
}

.team-card p{
    font-size: 1.3rem;
    margin: 0;
    color: var(--black-color);
    font-weight: 700;
}

.team-card img {
    max-width: 80px;
}

.team-card-text {
    color: var(--white-color);
    height: 100%;
    font-weight: 300;
    min-height: 80px;
    min-width: 300px;
}

.team-member:nth-of-type(2) .team-card-text, .team-member:nth-of-type(4) .team-card-text{
    text-align: end;
}

.footer-section{
    display: flex;
    justify-content: center;
    background: var(--gray-color-900);
    padding: 3rem 0;
}

.footer-wrapper{
    width: 100%;
    max-width: 1080px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white-color);
}

.footer-wrapper img{
    width: 100px;
}


/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: var(--primary-color-500) var(--white-color);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 4px;
  }

  *::-webkit-scrollbar-track {
    background: var(--white-color);
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--primary-color-500);
    border-radius: 0px;
    border: 1px solid var(--white-color);
  }

  ::-webkit-scrollbar {
    width: 10px;
}


body {
    scrollbar-width: 5px;
}

body {
    -ms-scrollbar-width: 5px;
    -ms-scrollbar-thumb-color: transparent;
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}



/* Mobile */


.mobile-menu {
    width: 40px;
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    align-items: center;
    z-index: 2;
    height: 40px;
    padding-top: .25rem;
}

.mobile-menu div {
    border-radius: 5px;
    background: var(--primary-color-600);
    border: 1.5px solid var(--primary-color-600);
    width: 80%;
    transition: all .3s ease-in-out;
}

.mobile-menu .line1 {
    width: 80%;
}

.mobile-menu .line2 {
    width: 70%;
}

.mobile-menu .line3 {
    width: 60%;
}

.mobile-menu.open .line1 {
    transform: rotate(-45deg) translate(-3px, 5px);
    width: 75%;
}

.mobile-menu.open .line2 {
    opacity: 0;
}

.mobile-menu.open .line3 {
    transform: rotate(45deg) translate(-6px, -8px);
    width: 75%;
}

@media screen and (max-width: 768px) {

    .mobile-menu{
        display: flex;
    }

    .nav-links{
        position: fixed;
        background: var(--primary-color-500);
        top: 0;
        left: 0;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        width: 100%;
        z-index: 2;
        min-height: 200vh;
        padding-top: 5rem;
        transform: translateX(100%);
        margin-top: 4.8rem;
        transition: all .2s ease-in-out;
    }

    .nav-links.open{
        transform: translateX(0);
    }

    .nav-links a{
        color: var(--white-color);
        text-align: center;
        width: fit-content;
    }

    .nav-links a::after {
        background-color: var(--white-color);
    }

    .logo img {
        width: 120px;
    }

    .hero-content{
        flex-direction: column;
        gap: 2rem;
    }

    .hero-image{
        width: 100%;
    }

    .about-container{
        flex-direction: column;
    }

    .about-box{
        padding: 2rem 3rem;
    }

    .services-heading{
        flex-direction: column;
        gap: 1rem;
    }

    .services-text {
        padding: 1rem 2rem;
    }

    .service-cards{
        align-items: center;
        flex-wrap: wrap;
        padding: 2rem;
        gap: 1rem;
        margin-top: -10rem;
        z-index: 2;
    }

    .service-card{
        max-width: 400px;
        width: 100%;
        overflow: hidden;
        z-index: 2;
    }

    .service-card:nth-of-type(2){
        transform: translateY(0);
    }
    

    .service-card img {
        max-height: 220px;
        object-fit: cover;
    }

    .service-card p{
        padding-bottom: 3rem;
    }

    .project-section{
        padding: 2rem;
    }

    .project-wrapper {
        padding: 0;
        flex-wrap: wrap;
    }

    .plus-icon.-secondary.-xxl{
        width: 75px;
        height: 200px;
        border-radius: 20px;
        z-index: 0;
    }
    .plus-icon.-secondary.-xxl::before{
        height: 75px;
        width: 200px;
        border-radius: 20px;
    }

    .project-section::after {
        top: -850px;
    }

    .team-section-header h1 {
        font-size: 2.5rem;
    }

    .team-member{
        flex-wrap: wrap;
    }

    .team-card-text{
        min-height: 30px;
    }
    
    .team-member:nth-of-type(2), .team-member:nth-of-type(4){
       flex-direction: column-reverse;
    }

    .footer-wrapper{
        padding: 2rem;
    }

    .hero-section::before {
        padding: 50px;
        right: 0;
        z-index: 0;
        top: -80px;
        filter: blur(30px);
    }
}